.filterContainer{
    display: flex;
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-bottom: 1px solid white;
}

.filter{
    display: flex;
    flex-direction: column;
    padding-right: 20px;
}

.filter p{
    padding-bottom: 20px;
    font-size: 1rem;
}

.filter input{
    width: 320px;
    height: 60px;
    margin-top: auto;
    margin-bottom: 3px;
    align-self: baseline;
    padding: 5px;
    font-size: 1rem;
}

.colourFilter{
    width: 60px;
    height: 60px;
    margin-right: 5px;
}

.colourFilter:hover{
    box-shadow: 0 0 0 1px white, 0 0 0 2px black;
}

.colourOptions{
    margin-bottom: 40px;
}

.colourGalaryCompact{
    display: flex;
    flex-direction: row;
    overflow: scroll;
    padding-bottom: 40px;
    /* height: 240px; */
}

.compactGroup{
    display: flex;
}

.compactGroup > *{
    width: 120px;
    height: 120px;
    margin-right: 10px;
}

.colourSelect{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill,200px);
    column-gap: 20px;
    row-gap: 20px;
}

.colourButton{
    text-align: left;
    font-size: 1rem;
}

.colourButton:hover div{
    outline: 1px solid white;
    outline-offset: -1px;
    border: 2px solid black;
}

.colourButton div{
    width: 100%;
    aspect-ratio: 1;
    margin-bottom: 10px;
}

.selected{
    box-shadow: 0 0 0 1px white, 0 0 0 2px black;
}
